{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["esnext", "esnext/style-guide"],
  "rules": {
    "indent": ["error", 2],
    "class-methods-use-this": "off",
    "no-console": "off"
  }
}
